@keyframes pulse {
	0% {
		scale: 1;
		opacity: 1;
	}
	100% {
		scale: 1.2;
		opacity: 0;
	}
}
@keyframes rotate-right {
	0% {
		rotate: 0;
	}
    100%{
        rotate: 360deg;
    }
}
@keyframes rotate-left {
	0% {
		rotate: 0;
	}
    100%{
        rotate: -360deg;
    }
}
